*{
    padding: 0;
    margin: 0;
    font-family: 'Rampart One', cursive;

}
body{
    /* background: linear-gradient(to right, #dc2424, #4a569d);  */
}

/* button{
   
} */

.win p{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Rampart One', cursive;

    
}
.stand ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 20px;

}
.playerVcomputer{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 0 150px 0 150px;
}
.Pchoise{
    width: 200px;
    height: 300px;
    background-color: rgba(0, 0, 255, 0.151);
}

#RPS{
    display: flex;
    justify-content: space-between;
}

#RPS button{
    width: 100px;
    height: 50px ;
}
#Cchoise{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 0, 0, 0.171);
}
#play-again{
    display: flex;
    justify-content: center;
}
.inti-rock{
    animation: wave-animation  4s infinite;
    font-size: 20px;

}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }

